@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Custom properties (css variables) */
  --category-bg-gray: #f9f9f9;
  --category-border-gray: #c5c5c5;
  --category-text-black: #000000;
  --status-green: #44a036;
  --blue: #488ac6;
  --upload-border-gray: #e2e2e2;
  --upload-text-gray: #8d8d8d;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.allproduct-border {
  margin-top: 2rem;
  margin-bottom: 0rem;
}
.project-container {
  padding: 1rem;
  border: unset !important;
}
.project-card {
  border: unset !important;
  padding: 0px !important;
}
.border-radius {
  border-radius: 5px !important;
}
.no-padding {
  padding: 0px !important;
}
.plus-circle {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  padding-bottom: 4px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 34px;
  font-weight: lighter;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #488ac6;
}
.project-text {
  position: absolute;
  bottom: 15px;
  left: 10px;
  color: white;
}
.project-card-image {
  position: initial;
  display: inline-block;
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.project-card-image:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(17, 47, 95, 0)),
    to(#112f5f)
  );
}
.accordion-button {
  background-color: unset !important;
  box-shadow: none !important;
  padding: 0px !important;
}

.accordion-item {
  border: unset !important;
}
.accordion-body {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* Categories component */
.cat.sibling {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: fit-content;
  vertical-align: bottom;
}

.cat.sibling > .colored-box {
  background-color: var(--category-border-gray);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  min-width: 80px;
  height: 8px;
}

.cat.sibling.selected > .colored-box {
  background-color: var(--status-green);
  border-top: 2px solid var(--status-green);
  border-bottom: 2px solid var(--status-green);
  height: 8px;
}
.cat.sibling.selected > div.status-header {
  font-weight: bold;
  font-size: 18px;
  cursor: default;
}

.cat.siblings-row {
  display: inline-block;
}

div.status-header {
  height: 32px;
  margin-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Inter";
  font-size: 18px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.category-btn,
.selected-category-btn {
  background-color: var(--category-bg-gray);
  border-color: var(--category-border-gray);
  border-radius: 32px;
  color: var(--category-text-black);
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: regular;
  height: 48px;
}

.selected-category-btn,
.selected-category-btn:hover,
.category-btn:hover {
  background-color: var(--status-green);
  border-color: var(--status-green);
  color: white;
}

/* Create Product */
label.create-prod {
  font-size: 18px;
  font-weight: bold;
}

button.cp {
  border-radius: 32px;
  border: 1px solid var(--blue);
  background-color: var(--blue);
  color: white;
  padding: 8px 32px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: normal;
  transition: all 0.25s;
}

button.cp.cancel {
  color: var(--blue);
  background-color: transparent;
}

/* General */
.bg-gray {
  background-color: var(--category-bg-gray);
}
.border-gray {
  border-color: var(--category-border-gray);
}
.br-8 {
  border-radius: 8px;
}

/* Category search box */
.search-box {
  width: 480px;
  height: 48px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  border: 1px solid var(--category-border-gray);
  position: relative;
}

.search-hide {
  border: none;
  background-color: transparent;
}

/* Search result dropdown */
.dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it appears above other content */
  background-color: var(--category-bg-gray);
  border: 1px solid var(--category-border-gray);
  max-height: 200px;
  overflow-y: auto; /* Make it scrollable if there are many results */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}

.dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}
